<?xml version="1.0"?>
<config>
    <modules>
        <Unbxd_Search>
            <version>1.0.24</version>
        </Unbxd_Search>
    </modules>
    <frontend>
        <layout>
            <updates>
                <unbxd_search>
                    <file>unbxd/search.xml</file>
                </unbxd_search>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <unbxd_search>
                <class>Unbxd_Search_Model</class>
                <resourceModel>unbxd_search_resource</resourceModel>
            </unbxd_search>
            <unbxd_search_resource>
                <class>Unbxd_Search_Model_Resource</class>
            </unbxd_search_resource>
        </models>
        <helpers>
            <unbxd_search>
                <class>Unbxd_Search_Helper</class>
            </unbxd_search>
            <catalogsearch>
                <rewrite>
		    <data>Unbxd_Search_Helper_Catalogsearch</data>
		</rewrite>
	    </catalogsearch>
        </helpers>
        <blocks>
            <unbxd_search>
                <class>Unbxd_Search_Block</class>
            </unbxd_search>
            <catalog>
                <rewrite>
                    <layer_view>Unbxd_Search_Block_Catalog_Layer_View</layer_view>
                </rewrite>
            </catalog>
            <catalogsearch>
                <rewrite>
                    <layer>Unbxd_Search_Block_Catalogsearch_Layer</layer>
					<autocomplete>Unbxd_Search_Block_Autocomplete</autocomplete>
                </rewrite>
            </catalogsearch>
            <enterprise_search>
                <rewrite>
                    <catalogsearch_layer>Unbxd_Search_Block_Catalogsearch_Enterprise_Layer</catalogsearch_layer>
                </rewrite>
            </enterprise_search>
        </blocks>
        <resources>
            <unbxd_search_setup>
                <setup>
                    <module>Unbxd_Search</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </unbxd_search_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <unbxd_search before="Mage_Adminhtml">Unbxd_Search_Adminhtml</unbxd_search>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <catalog>
            <search>                
                <unbxd_ruleset>search</unbxd_ruleset>
                <unbxd_timeout>300</unbxd_timeout>
            </search>
        </catalog>
        <unbxd>
            <general>
                <multiselect_facet>true</multiselect_facet>
                <autosuggest_status>false</autosuggest_status>
                <autosuggest_skin>#ff8400</autosuggest_skin>
                <autosuggest_template>1column</autosuggest_template>
                <autosuggest_max_suggestion>12</autosuggest_max_suggestion>
                <autosuggest_top_queries_status>false</autosuggest_top_queries_status>
                <autosuggest_keyword_status>true</autosuggest_keyword_status>
                <autosuggest_search_scope_status>true</autosuggest_search_scope_status>
                <autosuggest_max_products>2</autosuggest_max_products>
                <autosuggest_product_header>Popular Products</autosuggest_product_header>
                <autosuggest_keyword_header></autosuggest_keyword_header>
                <autosuggest_search_scope_header></autosuggest_search_scope_header>
                <autosuggest_show_cart>false</autosuggest_show_cart>
                <autosuggest_sidecontent>right</autosuggest_sidecontent>
                <autosuggest_topquery_header></autosuggest_topquery_header>
                <autosuggest_keyword_header></autosuggest_keyword_header>
                <autosuggest_search_scope_header></autosuggest_search_scope_header>
                <autosuggest_pop_product_header>Popular Products</autosuggest_pop_product_header>
                <search_mod_status>false</search_mod_status>
                <search_mod_power>search</search_mod_power>
                <search_hosted_status>false</search_hosted_status>
                <search_hosted_int_status>false</search_hosted_int_status>
                <search_hosted_redirect_url></search_hosted_redirect_url>
            </general>
        </unbxd>
    </default>
</config>
