<?xml version="1.0"?>
<config>
  <modules>
    <Unbxdsearch_Datafeeder>
      <version>0.1.0</version>
    </Unbxdsearch_Datafeeder>
  </modules>
  <frontend>
    <routers>
      <datafeeder>
        <use>standard</use>
        <args>
          <module>Unbxdsearch_Datafeeder</module>
          <frontName>datafeeder</frontName>
        </args>
      </datafeeder>
    </routers>
  </frontend>
  <global>
    <models>
      <unbxdsearch_datafeeder>
        <class>Unbxdsearch_Datafeeder_Model</class>
        <resourceModel>unbxdsearch_datafeeder_resource</resourceModel>
      </unbxdsearch_datafeeder>
      <unbxdsearch_datafeeder_resource>
        <class>Unbxdsearch_Datafeeder_Model_Resource</class>
      </unbxdsearch_datafeeder_resource>
    </models>
    <blocks>
      <unbxdsearch_datafeeder>
        <class>Unbxdsearch_Datafeeder_Block</class>
      </unbxdsearch_datafeeder>
    </blocks>
  </global>
  <global>
    <helpers>
      <unbxdsearch_datafeeder>
        <class>Unbxdsearch_Datafeeder_Helper</class>
      </unbxdsearch_datafeeder>
    </helpers>
  </global>
  <admin>
    <routers>
      <the_name_of_this_element_is_not_important_it_should_be_unique>
        <use>admin</use>
        <args>
          <module>Unbxdsearch_Datafeeder</module>
          <frontName>datafeeder</frontName>
        </args>
      </the_name_of_this_element_is_not_important_it_should_be_unique>
    </routers>
  </admin>
  <adminhtml>
    <!-- The <layout> updates allow us to define our block layouts in a separate file so are aren't messin' with the Magento layout files.  -->
    <layout>
      <updates>
        <unbxdsearch_datafeeder>
          <file>unbxdsearch_datafeeder.xml</file>
        </unbxdsearch_datafeeder>
      </updates>
    </layout>
    <!-- The <acl> section is for access control. Here we define the pieces where access can be controlled within a role. -->
    <acl>
      <resources>
        <admin>
          <children>
            <unbxdsearch_datafeeder>
              <title>Unbxdsearch Menu Item</title>
              <children>
                <example translate="title" module="unbxdsearch_datafeeder">
                  <title>Example Menu Item</title>
                </example>
              </children>
            </unbxdsearch_datafeeder>
          </children>
        </admin>
      </resources>
    </acl>
  </adminhtml>
  <global>
    <models>
      <datafeeder>
        <class>Unbxdsearch_Datafeeder_Model</class>
        <resourceModel>datafeeder_mysql4</resourceModel>
      </datafeeder>
      <datafeeder_mysql4>
        <class>Unbxdsearch_Datafeeder_Model_Mysql4</class>
        <entities>
          <conf>
            <table>unbxd_datafeeder_conf</table>
          </conf>
          <field>
            <table>unbxd_search_field</table>
          </field>
        </entities>
      </datafeeder_mysql4>
    </models>
    <resources>
      <datafeeder_setup>
        <setup>
          <module>Unbxdsearch_Datafeeder</module>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </datafeeder_setup>
      <datafeeder_write>
        <connection>
          <use>core_write</use>
        </connection>
      </datafeeder_write>
      <datafeeder_read>
        <connection>
          <use>core_read</use>
        </connection>
      </datafeeder_read>
    </resources>
  </global>
</config>
